name: Terraform CI/CD

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        required: true
        default: dev
        type: choice
        options:
          - dev
          - uat
          - prod
          - all

      action:
        description: "Terraform action"
        required: true
        default: plan
        type: choice
        options:
          - plan
          - apply
          - destroy

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init
        run: terraform init

      # -------- DEV --------
      - name: Terraform DEV
        if: ${{ inputs.environment == 'dev' || inputs.environment == 'all' }}
        run: |
          terraform ${{ inputs.action }} \
          -auto-approve \
          -var-file=dev.tfvars

      # -------- UAT --------
      - name: Terraform UAT
        if: ${{ inputs.environment == 'uat' || inputs.environment == 'all' }}
        run: |
          terraform ${{ inputs.action }} \
          -auto-approve \
          -var-file=uat.tfvars

      # -------- PROD --------
      - name: Terraform PROD
        if: ${{ inputs.environment == 'prod' || inputs.environment == 'all' }}
        run: |
          terraform ${{ inputs.action }} \
          -auto-approve \
          -var-file=prod.tfvars

